#paratrain
  %h1 Paratrain
  #status
    #deviceready.blink
      %p.event.listening Initializing
      %p.event.received Ready

  #controls
    %button#startrecording Start Recording

  %ul.media-list